<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/assets/clientsearch.css" rel="stylesheet" type="text/css" />
    <title>Home</title>
</head>
<body>
    <div class="app-background">
        <div class="header">
            <div class="left" onclick="window.location.href='/home'">
                <div class="home-button">
                    <img src="../public/images/home-header.svg">
                </div>
                <div class="logo-challenge">
                    <img src="../public/images/icon_home.svg">
                    <div class="title">Orange-Forms</div>
    
                </div>
            </div>
            <div class="right">
                <p> Hello, <%- name %></p>
                <form action="/logout?_method=DELETE" method="POST">
                    <button>Log Out</button>
                </form>
            </div>
    
        </div>
        <form action="/clientsearchCI" method="POST">
            <div class="rest-container">
                <div class="search-container">
                    <div class="form-title-secondary">
                        <p>Find Client</p>
                    </div>
                    <div class="container-row">
                        <div class="input-form-container">
                            <input class="input-form" type="text" name="clientid" placeholder="Client Email" id="clientid">
                        </div>
                        <div class="input-form-container">
                            <button class="buttoningrid" type="submit">Find</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>