<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/assets/formuploaded.css" rel="stylesheet" type="text/css" />
    <title>Home</title>
</head>
<body>
    <div class="app-background">
        <div class="header">
            <div class="left">
                <div class="home-button">
                    <img src="../public/images/home-header.svg">
                </div>
                <div class="logo-challenge">
                    <img src="../public/images/icon_home.svg">
                    <div class="title">Orange-Forms</div>
    
                </div>
            </div>
            <div class="right">
                <p> SUP</p>
                <form action="/logout?_method=DELETE" method="POST">
                    <button type="submit">Log Out</button>
                </form>
            </div>
        </div>
        <div class="rest-container">
            <div class="form-container">
                <div class="pind"></div>
                <h1>There was an error.</h1>
                <h2>There has been an error uploading your form, please upload it manually</h2>
                <div class="yesno-container">
                    <div class="upload-button-container">
                        <button class="upload-button" onclick="window.location.href='/home'">Home</button>
                    </div>
                </div>
                    
            </div>
        </div>
    </div>
</body>
</html>